/**
 * SPDX-FileCopyrightText: 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@use "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.laptop, .phone,
.phone-with-overlay,
.laptop-with-overlay {
  position: relative;
}

.phone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16.5%;
  margin-left: 3.5%;
  width: 92%;
}

.laptop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3%;
  margin-left: 8.5%;
  width: 84%;
}

.laptop-with-overlay.bottom-right, .laptop-with-overlay.top-center {
  overflow: hidden;
}

.laptop-with-overlay.top-center {
  .laptop {
    transform-origin: top center;
    transform: scale(2);
  }

  .laptop-overlay {
    margin-top: 5%;
    margin-left: 0;
    width: 100%;
  }
}

.laptop-with-overlay.bottom-right {
  .laptop {
    transform-origin: bottom right;
    transform: scale(2);
  }

  .laptop-overlay {
    margin-top: 0;
    margin-left: 0;
    width: 78%;
  }
}

@include media-breakpoint-down(sm) {
  .laptop {
    display: none;
  }
  .laptop-with-overlay.bottom-right, .laptop-with-overlay.top-center {
    overflow: visible;
  }

  .laptop-with-overlay.bottom-right .laptop-overlay, .laptop-with-overlay.top-center .laptop-overlay, .laptop-overlay {
    position: static;
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }

  .phone-with-overlay, .phone-overlay, .phone {
    z-index: 2
  }

  .laptop-with-overlay {
    z-index: 1;
  }

  .laptop-with-overlay.top-center, .laptop-with-overlay.bottom-right {

  }
}
