/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

h1 {
  margin-top: 0.3rem;
}

.mw-editsection {
  font-size: 1.8rem;
  margin-left: 1rem;
}

.mw-jump, #jump-to-nav {
  display: none;
  height: 0;
}

.wikitable {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.wikitable thead td, .wikitable thead th {
  border-bottom-width: 2px;
}

.wikitable thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.wikitable td, .wikitable th {
  border: 1px solid #dee2e6;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
  background-color: #eff0f1;
}

@media not print {
  .printfooter {
    display: none;
  }
}

#mw-normal-catlinks {
  margin-top: 7px;
}

#mw-normal-catlinks ul {
  display: inline-block;
  padding-left: 0;
}

#mw-normal-catlinks ul li {
  list-style: none;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 0;
}

.floatleft {
  float: left !important;
}

.center .floatnone {
  text-align: center;
}

.mw-editsection {
  margin-left: 5px;
  font-size: small;
}

#mw-content-text .image,
#mw-content-text img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.mw-enhanced-rc td:nth-child(3) {
  width: 99px;
}

.mw-enhanced-rc td:nth-child(1) {
  width: 15px;
}

select {
  background-color: white;
}

.mw-languages-dropdown {
  padding-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

.mw-pt-languages-label::after {
  content: "";
  background: transparent no-repeat scroll left center;
  background-image: url(/extensions/UniversalLanguageSelector/lib/jquery.uls/images/language.png?85750);
  background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22%3E %3Cpath d=%22M20 18h-1.44a.61.61 0 0 1-.4-.12.81.81 0 0 1-.23-.31L17 15h-5l-1 2.54a.77.77 0 0 1-.22.3.59.59 0 0 1-.4.14H9l4.55-11.47h1.89zm-3.53-4.31L14.89 9.5a11.62 11.62 0 0 1-.39-1.24q-.09.37-.19.69l-.19.56-1.58 4.19zm-6.3-1.58a13.43 13.43 0 0 1-2.91-1.41 11.46 11.46 0 0 0 2.81-5.37H12V4H7.31a4 4 0 0 0-.2-.56C6.87 2.79 6.6 2 6.6 2l-1.47.5s.4.89.6 1.5H0v1.33h2.15A11.23 11.23 0 0 0 5 10.7a17.19 17.19 0 0 1-5 2.1q.56.82.87 1.38a23.28 23.28 0 0 0 5.22-2.51 15.64 15.64 0 0 0 3.56 1.77zM3.63 5.33h4.91a8.11 8.11 0 0 1-2.45 4.45 9.11 9.11 0 0 1-2.46-4.45z%22 fill=%22%2354595d%22/%3E %3C/svg%3E");
  background-size: contain;
  padding-left: 24px;
}

.mw-languages-dropdown::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.grid .row .row.tux-message,
.tux-textarea-translation,
.grid .row .row.tux-message-item-compact {
  width: 100%;
  display: block;
}

.row.uls-search {
  display: inline-block;
}

.uls-lcd-region-section {
  display: block;
  width: 100%;
}

.tux-message-filter-result .button {
  display: none !important;
}

.center .floatnone {
  text-align: center;
}

.menuchoice, .pager li,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: #232627;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #eff0f1, #e9eaeb);
  position: relative;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, .1);
  transition: background-image .2s;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  padding: 5px 10px;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active {
  background: #3daee9;
  background-image: none;
}

.keycap {
  color: #000000;
  background-color: #e1e1e1;
  text-shadow: none;
  padding: 2px 5px;
}

code {
  background-color: lemonchiffon;
  padding: 2px 4px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

table.vertical-centered td {
  padding: 8px;
}

table:not(.mw-changeslist-line) td:first-child {
  padding-left: 0;
  min-width: 48px;
}

.pager {
  text-align: center;
}

.pager li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
}

.pager li a {
  color: #232627;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.pager li:hover {
  box-shadow: 1px 1px 0px 0px rgba(147, 206, 233, 0.2);
  border: solid 1px rgba(147, 206, 233, 0.6);
}

.thumb .thumbinner, .center .floatnone img {
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.center .thumbinner, .tablecenter {
  margin-left: auto;
  margin-right: auto;
}

.tleft .thumbinner, .floatleft a {
  margin-right: 20px !important;
  margin-top: 4px;
}

div.tleft, div.floatleft, table.floatleft {
  float: left;
  clear: left;
}

.mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd {
  margin-left: 1.6em;
  margin-right: 0;
}

dl, ol, ul {
  margin-bottom: 0;
}

@media print {
  .noprint, .mw-editsection {
    display: none;
  }
}

.oo-ui-panelLayout-framed {
  border-radius: 4px;
}

.alert .alert-heading {
  font-size: 16px;
  font-weight: bold;
}

.alert.d-flex .floatleft img {
  min-width: 40px;
}

#pt-uls a.uls-trigger {
  padding-left: 25px;
}

.pre-input {
  background-color: lemonchiffon;
}

.form-inline .form-control {
  width: 200px;
}

a.new {
  color: rgb(218, 68, 83);
}

.thumbinner {
  max-width: 100%;
}

.mw-plusminus-pos {
  color: #27ae60;
}

.mw-highlight .hll {
  color: darkblue;
}

#kHeaderNav #searchInput {
  margin: 6px;
}

@media (max-width: 768px) {
  #kHeaderNav .navbar-collapse .navbar-nav .nav-item a {
    width: 100%;
  }
  #kHeaderNav #searchInput {
    width: 100%;
    margin-bottom: 12px;
  }
}

.small-icon {
  min-width: 48px;
}

.list-header {
  font-size: 18px;
  padding-top: 10px;
}

.list-header:not(:first-child) {
  border-top: 1px solid rgba(100, 100, 100, .8);
  margin-top: 10px;
}

.sidebar li:last-child {
  margin-bottom: 10px;
}

.editOptions, .pre {
  white-space: pre-wrap;
}

// For mediawiki instance: bugzilla template
.table-bugs-done thead {
  background-color: rgba(39, 174, 96, 0.1);
}

.table-bugs-in-progress thead {
  background-color: rgba(246, 116, 0, 0.1);
}

.table-bugs-todo thead {
  background-color: rgba(218, 68, 83, 0.1);
}
